*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-y: scroll; 
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* roots for styling  */
:root {
  --header-height: 6rem;
  --dark-mode-text-color: #f1f1f1;
  --dark-mode-background-color: rgba(
    38,
    38,
    41,
    0.815
  );
  --light-mode-text-color: rgb(
    38,
    38,
    41
  );
  --light-mode-background-color: #f1f1f1;
  --dark-mod-seconder-text-color: rgba(
    21,
    19,
    46,
    0.685
  );
  --border: solid
    1px
    var(
      --light-mode-background-color
    );
  --box-shadow: 0 0
    10px 1px
    rgba(
      248,
      244,
      244,
      0.1
    );
}
body {
  background-color: var(
    --dark-mode-background-color
  );
  color: var(
    --dark-mode-text-color
  );
}
a {
  text-decoration: none;
  color: var(
    --dark-mode-text-color
  );
}
p {
  font-family: "Source Sans Pro",
    sans-serif;
}
li {
  list-style: none;
  color: var(
    --dark-mode-text-color
  );
}

/* General buttons styling */
button {
  height: 50px;
  width: 150px;
  background-color: var(
    --light-mode-background-color
  );
  font-weight: bold;
  border-radius: 1em;
  border: none;
  transition: all 1s
    ease;
  border-radius: 5em;
  border: 2px solid
    rgba(
      26,
      214,
      214,
      0.527
    );
  color: rgba(
    32,
    99,
    99,
    0.527
  );
}
button:hover {
  color: var(
    --dark-mod-seconder-text-color
  );
  transform: scale(
    1.1
  );
}

/* general style for box shadow containers */
.box-shadow {
  padding: 1em;
  border-radius: 1em;
  box-shadow: var(
    --box-shadow
  );
}
/* general style for my containers */
.my-container {
  padding: 0 1em;
  margin-bottom: 1em;
}

/* <=================================================================> Header <=================================================================> */

/* header styles  */
.header {
  position: fixed;
  top: 0em;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  width: 100%;
  height: var(
    --header-height
  );
  backdrop-filter: blur(
    0.3em
  );
}

.nav-container {
  height: var(
    --header-height
  );
}
.mobile-menu
  .nav-item-btn {
  display: none;
}
/* nav list content Style */
.nav-list {
  background: var(
    --dark-mode-background-color
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(
    5rem
  );
  visibility: hidden;
  opacity: 0;
  transition: opacity
    3s;
  padding-top: 5em;
  height: var(
    --header-height
  );
}
.nav-list > a {
  padding-top: 1em;
}
.nav-list
  .nav-item-btn {
  margin-top: 1em;
}

/* mobile menu styling */
.mobile-menu {
  z-index: 1500;
  color: var(
    --dark-mode-background-color
  );
  max-width: 100%;
  height: var(
    --header-height
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* mobile ban logo-name */
.mobile-menu
  .name-logo
  > h5 {
  color: var(
    --dark-mode-text-color
  );
  margin-right: 1em;
  font-family: "Courier New",
    Courier,
    monospace;
  font-weight: bolder;
  font-size: 1.5em;
  font-weight: bolder;
}
.mobile-menu
  .name-logo
  > h5
  > span {
  padding-left: 1em;
}

/* mobile menu-icon */
.mobile-menu > i {
  color: var(
    --light-mode-text-color
  );
  background-color: var(
    --light-mode-background-color
  );
  border-radius: 50%;
  font-size: 3em;
  transform: rotate(
    0deg
  );
  margin-left: 1em;
  transition: transform
    1s 0.1s
    cubic-bezier(
      0.04,
      0.04,
      0.12,
      0.96
    );
  cursor: pointer;
}

/* Active style for the van "onClick button" */
.active
  .nav-container {
  background: var(
    --dark-mode-background-color
  );
}
.active .nav-list {
  visibility: visible;
  height: 100vh;
  opacity: 1;
}
/* mobile menu icon rotation */
.active
  .mobile-menu
  > i {
  transform: rotate(
    180deg
  );
  transition: transform
    1s 0.1s
    cubic-bezier(
      0.04,
      0.04,
      0.12,
      0.96
    );
}
/* Animation nav list for mobile  */
.active
  .nav-list
  .nav-item {
  animation: fadeIn
    100ms ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* changing the header background color on scroll */
.nav-scrolled {
  background-color: var(
    --dark-mode-background-color
  );
}

/* <=================================================================> page-intro Slider <=================================================================> */

/* slide-image style */
.slider,
.slider > img {
  width: 100%;
  height: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
    center;
}
.slider > img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity
    2000ms;
  z-index: -1;
}

.slider .show {
  opacity: 1;
}

/* main-intro styling */
.intro-info {
  text-align: center;
  font-size: 14px;
  width: 100%;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 29em;
}
.name {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: var(
    --dark-mode-background-color
  );
  font-size: 1.5em;
  border-radius: 360px
    360px 0 0;
  font-family: "Courier New",
    Courier,
    monospace;
  padding-top: 1.5em;
  line-height: 1em;
  min-height: 4em;
}
.intro {
  width: 90%;
  margin: 1em auto 0
    auto;
}

/* styling for the typewriter  */
.typewriter-effect {
  height: 30px;
  text-transform: uppercase;
  font-size: 1em;
  color: var(
    --dark-mod-seconder-text-color
  );
}
/* Intro-main buttons */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.intro button {
  letter-spacing: 1px;
}
.buttons > a > i {
  font-size: 3rem;
  padding-left: 0.4em;
  color: var(
    --dark-mode-text-color
  );
}

/* styling for About-me styling  */
.about-me {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.about-me-text {
  width: 100%;
  margin: 0 auto;
}
.about-me-text > p {
  padding-top: 2em;
  font-size: 1em;
}
.about-me-text
  > h1 {
  text-align: center;
  font-family: "Courier New",
    Courier,
    monospace;
  font-size: 2em;
}
/* about me list style */
.info-list {
  padding-top: 1em;
  list-style: none;
  line-height: 2em;
  font-weight: bold;
  font-size: 0.8em;
}
.info-item > span {
  color: var(
    --dark-mod-seconder-text-color
  );
}
.info-item
  .column-2 {
  margin-left: 1em;
  color: var(
    --dark-mode-text-color
  );
}
/* social icons styling */
.contact-icon {
  margin-top: 1em;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon > a {
  padding: 0.2em;
}
.contact-icon
  > a:hover {
  transform: scale(
    1.5
  );
}

/* Resume "experiences" style */
#resume {
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}
.work,
.education {
  margin-bottom: 1em;
}

.main-title {
  text-align: center;
}
.main-title > h1 {
  font-size: 2em;
  padding-top: 0.5em;
  font-family: "Courier New",
    Courier,
    monospace;
}
.main-title > h3 {
  font-size: 1.3em;
  color: var(
    --dark-mod-seconder-text-color
  );
  padding-top: 0.5em;
}

/* job-education slider style */
.slid-container {
  width: 100%;
  margin: auto;
}
.carousel {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slider-2 {
  display: flex;
  height: 100%;
  width: 400%;
  transition: all 2s;
}
.slider-2 section {
  flex-basis: 100%;
  margin-top: 5em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

/* job-education slider buttons */
.left,
.right {
  position: absolute;
  top: 70%;
  transform: translate(
    -50%
  );
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
}

.experiences-control
  > i {
  margin-top: 0.5em;
  font-size: 3em;
  -webkit-user-select: none;
  color: var(
    --light-mode-text-color
  );
  background-color: var(
    --light-mode-background-color
  );
}
.experiences-control
  .left {
  left: 30%;
}
.experiences-control
  .right {
  right: 20%;
}

.experience-info {
  padding-bottom: 1em;
}

.experience-info
  > h1
  span {
  color: var(
    --dark-mod-seconder-text-color
  );
}

/* <=========================================================> portfolio section <=========================================================> */

#portfolio {
  text-align: center;
  padding: 2em;
}

.swiper-slide {
  min-height: 550px;
  padding: 0em;
}
.portfolio-image {
  min-height: 300px;
}
.swiper-slide
  > img {
  height: 300px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.swiper-button-prev {
  left: 15%;
  top: 90%;
}
.swiper-button-next {
  right: 15%;
  top: 90%;
}
.swiper-portfolio-icon {
  font-size: 4em;
  color: var(
    --dark-mod-seconder-text-color
  );
}
.portfolio-data {
  margin-top: 1em;
}
.portfolio-data
  button {
  margin-top: 1em;
}

/* <=========================================================> skills section <=========================================================> */
.mh-skills-inner {
  padding: 0;
}

.mh-skills
  .mh-professional-skills
  h3 {
  font-size: 2em;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  font-family: "Courier New",
    Courier,
    monospace;
  width: 90%;
  margin: 0 auto
    60px auto;
}

.mh-professional-skills {
  margin: auto;
  width: 100%;
}

.mh-professional-progress
  li {
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 49%;
  margin-bottom: 30px;
  text-align: center;
}
.mh-progress {
  margin-bottom: 10px;
  font: 900 1.14285/1;
}
.mh-progress
  .progressbar-text {
  color: inherit !important;
  font-family: "poppins",
    sans-serif;
}
.progress.progress-line {
  height: 5px;
  margin-right: 60px;
}

.progress.progress-line
  .progressbar-text {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 60px;
  transform: translateY(
    -35%
  );
  text-align: center;
  font-family: "poppins",
    sans-serif;
}
.mh-progress.mh-progress-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.mh-progress
  path:nth-child(1) {
  stroke: var(
    --light-mode-background-color
  );
}
.mh-progress
  path:nth-child(2) {
  stroke: var(
    --dark-mod-seconder-text-color
  ) !important;
}

/* Each skills style */
.candidates {
  position: relative;
  margin-bottom: 30px;
  font-family: "poppins",
    sans-serif;
}
.candidates
  .parcial {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.candidates
  .parcial
  .info {
  font-family: "poppins",
    sans-serif;
  display: flex;
  justify-content: space-between;
}
.candidates
  .parcial
  .info
  .name {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
  font-family: "poppins",
    sans-serif;
  min-height: 1em;
  margin: 0;
  padding: 0;
  text-align: start;
}
.candidates
  .parcial
  .info
  .percentage-num {
  font-size: 15px;
  font-weight: normal;
  color: var(
    --dark-mod-seconder-text-color
  );
}
.candidates
  .parcial
  .progressBar {
  position: relative;
  width: 100%;
  height: 17px;
  margin: 20px 0 2px;
  border-radius: 10px;
  background-color: var(
    --light-mode-background-color
  );
}

.candidates
  .percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  border-radius: 10px;
  background-color: var(
    --dark-mod-seconder-text-color
  );
  -webkit-transition: 2s
    all;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: animationProgress;
  font-family: "poppins",
    sans-serif;
}

.mh-languages-skill {
  margin-top: 2em;
  margin: auto;
}
.languages-container {
  width: 80%;
  margin: auto;
}
.mh-languages-skill
  h3 {
  font-size: 2em;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  font-family: "Courier New",
    Courier,
    monospace;
  width: 50%;
  margin: 1em auto;
}
@keyframes animationProgress {
  from {
    width: 0;
  }
}

/* ====================================  Contact-ME section ==================================== */
.form-container {
  padding: 1em;
  position: relative;
  width: 100%;
  background-color: var(
    --dark-mode-background-color
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.form {
  width: 100%;
  max-width: 820px;
  box-shadow: 0 0
    20px 1px
    rgba(
      248,
      244,
      244,
      0.1
    );
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 1em;
}

.information {
  display: flex;
  margin: 0.7rem 0;
  align-items: center;
}
.contact-info
  .title {
  font-size: 1em;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  font-family: "Courier New",
    Courier,
    monospace;
  width: 50%;
  margin: 1em auto;
}
.icon {
  width: 30px;
}
.information > p {
  padding-left: 1em;
  text-align: center;
  font-size: 0.8em;
}
.circle {
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    transparent 20%,
    #144092
  );
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 190px;
  right: 20px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 40px;
  right: 210px;
}
.contact-info {
  padding: 1.7rem
    1.6rem;
}

/* ====================================  Footer ==================================== */
footer {
  width: 100%;
  position: relative;
  min-height: 200px;
  padding: 1em 1em 0
    1em;
}

.footer-container {
  min-height: 200px;
  text-align: center;
  box-shadow: 0 0
    10px 1px
    rgba(
      248,
      244,
      244,
      0.1
    );
  padding-top: 2em;
  border-radius: 1em;
  margin-bottom: 0.5em;
}
.footer-links {
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding-top: 5em;
}
.footer-links > li {
  padding: 0.5em;
  font-family: "Courier New",
    Courier,
    monospace;
}
.footer-title > h3 {
  font-size: 2em;
  font-family: "Courier New",
    Courier,
    monospace;
}
.footer-title
  > span {
  color: var(
    --dark-mod-seconder-text-color
  );
  font-family: "poppins";
  padding-top: 0.3em;
}

/* style for small mobile devices */
@media screen and (max-width: 320px) {
  .slider,
  .slider > img {
    width: 100%;
    height: 95%;
  }
  .active
    .nav-list {
    visibility: visible;
    height: 90vh;
    opacity: 1;
    padding: 0;
  }
  .intro-info {
    margin-top: 26em;
  }
  .name {
    width: 70%;
    margin: 0 auto;
    height: auto;
    background-color: var(
      --dark-mode-background-color
    );
    font-size: 25px;
    border-radius: 360px
      360px 0 0;
  }
  .slid-container
    .experience-info {
  }
  .experiences-control
    .left {
    left: 40%;
  }
  .experiences-control
    .right {
    right: 20%;
  }
}
