*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 7rem;
    --dark-mode-text-color: #f1f1f1;
    --dark-mode-background-color: rgb(38, 38, 41);
    --light-mode-text-color: rgb(38, 38, 41);
    --light-mode-background-color: #f1f1f1;
    --dark-mod-seconder-text-color: rgb(11, 255, 255);

}
.selector-for-some-widget {
    box-sizing: content-box;
  }
body{
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-text-color);
    font-size: 16px;
    height: 5000px;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0em;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    height: var(--header-height);
}
.nav-list{
    background: var(--dark-mode-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    backdrop-filter: blur(5rem);
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s;

}
.nav-list > a {
    padding-top: 1em;
    font-weight: bold;
    color: var(--dark-mode-text-color);
}
.nav-list > button {
    margin-top: 1em;
    border-radius: 1em;
    color: var(--light-mode-text-color);
    font-weight: bold;
    background-color: var(--light-mode-background-color);
    border: none;
}
.mobile-menu{
    z-index: 1500;
    cursor: pointer;
    color: var(--light-mode-text-color);
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-menu .name-logo{
    color: var(--dark-mode-text-color);
    margin-right: 1em;
    font-family: 'Estonia', cursive;    
    font-weight: bolder;
}
.name-logo > h5{
    font-size: 2em;
    font-weight: bolder;
}
.mobile-menu > i {
    color: var(--dark-mode-text-color);
    font-size: 2em;
    transform: rotate(0deg);
    margin-left: 1em;
    transition: transform 1s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);;
}
.fa-chevron-circle-down{
    color: #f1f1f1;
}
.header .active {
    width: 100%;
    background-color: var(--dark-mode-background-color);
}
.active .nav-list{
    visibility: visible;
    height: 90vh;
    opacity: 1;
}
.active .mobile-menu > i{
    transform: rotate(180deg);
    transition: transform 1s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);;
}
.active .nav-list .nav-item{
    animation: fadeIn .5s ease-in; 
}
@keyframes fadeIn {
    from { opacity:0 }
    to   { opacity:1 }
}
.nav-scrolled {
    background-color: var(--dark-mode-background-color)
}
.slider, .slider > img{
    width: 100%;
    height: 65%;
}
.slider > img {
    object-fit: cover;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    transition: opacity 2000ms;
    z-index: -1;
}
.slider .show {
    opacity: 1;
}
.name{
    height: auto;
    text-align: center;
    width: 60%;
    margin: 50em  auto 0 auto;
    background-color:var(--dark-mode-background-color);
    font-size: .5em;
    border-radius:  360px 360px 0 0;
    padding-top: 5em;
    font-family: 'Comforter Brush', cursive;
}
.intro{
    width: 80%;
    margin: 4em auto 0 auto;
}
.typewriter-effect{
    height: 100px;
    text-transform: uppercase;
    font-size: 1em;
    color: rgb(31, 181, 201);
}
.main{
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin: auto;
    height: 500px;
    border-bottom: solid .1em #f1f1f186;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro button{
    border-radius: 5em;
    width: 200px;
    color: var(--dark-mode-text-color);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}
.buttons > a > i{
    font-size: 2rem;
    padding-left: .3em;
    color: var(--dark-mode-text-color);
}
.about-me{
    padding-top: 3em;
    width: 100%;
    margin: auto;
    border-bottom: solid .1em #f1f1f186;
}
.text{
    width: 80%;
    margin: auto;
}   
.text > p{
    padding-top: 2em;
}
.text > h1{
    text-align: center;
}
.info-list{
    list-style: none;
    line-height: 2em;
    font-weight: bold;
    font-size: .9em;
}
.info-item > span{
    color: var(--dark-mod-seconder-text-color);
}
.info-item .column-2{
    margin-left: 1em;
    color: var(--dark-mode-text-color)
}
.contact-icon{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon > i{
    padding: .2em;
}
.contact-icon > i:hover{
    transform: scale(1.5);
}

.resume{
    width: 100%;
    margin:  auto;
    padding: 3em 0;
    /* border-bottom: solid 1px var(--light-mode-background-color); */
}
.main-title{
    text-align: center;
}
.main-title > h3{
    font-size: 1em;
    color: var(--dark-mod-seconder-text-color);
}
.container{
    width: 90%;
    margin: auto;
}
.carousel{
    height: 300px;
    position: relative;
    overflow: hidden;
    border: solid 1px var(--light-mode-background-color);
}
.slider-2{
    height: 100%;
    display: flex;
    width: 500%;
}
.slider-2 > section{
    flex-basis: 100%;
}

.experience-info{
    padding: 1em 0;
}
.experience-info > h1, p {
    line-height: .9em;
    font-size: 1em;
}
.experience-info > h1{
    font-weight: bold;
}
.experience-info > h1 span {
    color: var(--dark-mod-seconder-text-color);
}
.experiences-control{
    display: flex;
    padding-top: 1em;
    justify-content: center;
    font-size: 3em;
    position: fixed;
    width: 100%;
    height: 100%;
}
.experiences-control .fas{
    margin: .5em;
    border: solid 1px var(--light-mode-background-color);
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .slider, .slider > img{
        width: 100%;
        height: 100%;
    }
}