*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 3.1rem;
    --dark-mode-text-color: #f1f1f1;
    --dark-mode-background-color: rgb(38, 38, 41);
    --light-mode-text-color: rgb(38, 38, 41);
    --light-mode-background-color: #f1f1f1;

}
body{
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-text-color);
    height: 2000px;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    top: 0em;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    height: var(--header-height);
    background-color: rgb(38, 38, 41);
    backdrop-filter: blur(2rem);
    opacity: .8;
}
.nav-list{
    background: var(--dark-mode-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    backdrop-filter: blur(5rem);
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s;
}
.nav-list > a {
    padding-top: 1em;
    font-weight: bold;
    color: var(--dark-mode-text-color);
}
.nav-list > button {
    margin-top: 1em;
    border-radius: 1em;
    color: var(--light-mode-text-color);
    font-weight: bold;
    background-color: var(--light-mode-background-color);
    border: none;
}
.mobile-menu{
    z-index: 1500;
    cursor: pointer;
    color: var(--light-mode-text-color);
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-menu .name-logo{
    font-size: 15px;
    color: var(--dark-mode-text-color);
    margin-right: 1em;
    font-family: 'Comforter Brush', cursive;
}
.mobile-menu > i {
    color: var(--dark-mode-text-color);
    font-size: 2em;
    transform: rotate(0deg);
    margin-left: 1em;
    transition: transform 1s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);;
}
.fa-chevron-circle-down{
    color: f1f1f1;
}
.contact-icon{
    margin-top: 300px
}

header .active {
    width: 100%;
}
.active .nav-list{
    visibility: visible;
    height: 90vh;
    opacity: 1;
}
.active .mobile-menu > i{
    transform: rotate(180deg);
    transition: transform 1s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);;
}
.active .nav-list .nav-item{
    animation: fadeIn .5s ease-in; 
}
@keyframes fadeIn {
    from { opacity:0 }
    to   { opacity:1 }
}
.slider, .slider > img{
    width: 100%;
    height: 100%;
}
.slider > img {
    object-fit: cover;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    transition: opacity 2000ms;
    z-index: -1;
}
.slider .show {
    opacity: 1;
}


.name{
    height: auto;
    text-align: center;
    width: 80%;
    margin: 44em  auto 0 auto;
    background-color:var(--dark-mode-background-color);
    font-size: .5em;
    border-radius:  360px 360px 0 0;
    padding-top: 5em;

}

.name .h1{
    padding-top: 1em;
}
